* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fdf9ed;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

.container_register {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vh;
}

.container_login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 0vh 20vh;
}

.box {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.form-box {
    width: 450px;
    margin: 0px 10px;
}

.form-box header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.btn {
    height: 35px;
    background: rgba(50, 50, 52, 255);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0 10px;
}

.btn:hover {
    opacity: 0.8;
}

.submit {
    width: 100%;
}

.link {
    margin-bottom: 15px;
}

.links .btn {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 35px;
    width: 80px;
    background: rgba(50, 50, 52, 255);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0 10px;
}

.toggle-password {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 60px 0; /* Increased padding */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    text-align: center;
}

.footer-logo {
    width: 320px; /* Adjusted width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Added margin for spacing */
}

.social-links {
    margin-bottom: 20px; /* Increased margin bottom */
}

.social-links a {
    color: #fff;
    margin: 0 10px; /* Adjusted margin for spacing */
    font-size: 20px; /* Increased font size for social icons */
}

.social-links a:last-child {
    margin-right: 0;
}

.footer p {
    margin-bottom: 0;
    font-size: 22px; /* Adjusted font size */
}

.footer p a {
    color: #fff;
    margin: 0 10px; /* Adjusted margin for spacing */
    font-size: 22px; /* Increased font size */
}

.footer p a:last-child {
    margin-right: 0;
}
